<h2>Редактирование группы <%=@group.group_name %></h2>
<%= form_for [:account, @group]  do |f| %>
<%= render 'group', f: f %>
<table border=1>
<tr>
	<th>№</th>
	<th>Член Группы</th>
</tr>
<% (1..10).each do |i| %>
<% @agent = @agents.where(:group_priority => i)
	if @agent.blank? 
		@selected_user = 0
	else 
		@selected_user = @agent.first.user_id
	end %>
<tr>
	<td><%= i %></td>
	<td><%= select_tag "user_to_add[]", options_for_select(selectable_users, @selected_user) %></td>
</tr>
<% end %>
</table>
<%= f.submit "Сохранить" %>
<% end %>