<%= flash[:error]%>
<h2>Создание группы для <%=current_account.name%></h2>
<%= form_for [:account, @group]  do |f| %>
<%= render 'group', f: f %>
<table border=1>
<tr>
	<th>№</th>
	<th>Член Группы</th>
</tr>
<% (1..10).each do |i| %>
<tr>
	<td><%= i %></td>
	<td><%= select_tag "user_to_add[]", options_for_select(selectable_users, 0) %></td>
</tr>
<% end %>
</table>
<%= f.submit "Сохранить" %>
<% end %>