<h2>Список пользователей <%=current_account.name%></h2>
<table>
	<tr>
		<th>Имя</th>
		<th>Фамилия</th>
		<th>Email</th>
		<th>Телефон</th>
		<th>Редактировать</th>
		<th>Удалить</th>
	</tr>
<% @users.each do |u| %>
	<tr>
		<td><%= u.first_name %></td>
		<td><%= u.last_name %></td>
		<td><%= u.email %></td>
		<td><%= u.phone %></td>
		<td><%= link_to "Изменить", edit_account_user_path(params[:account_id], u.id) %></td>
		<td><%= link_to "Удалить", account_user_path(params[:account_id], u.id), :method => :delete %></td>	
	</tr>
	<% end%>
</table>
