<h2>Приветствия для номера <%= @current_phone.number %></h2>
<%= form_for(:call_time, {:method => :put}) do |f| %>
<%= f.label "Приветствие для рабочего времени:" %><br>
<%= f.file_field :greeting_whrs %><br>
<%= f.label "Приветствие для не рабочего времени:" %><br>
<%= f.file_field :greeting_afthrs %><br>
<%= f.label "Приветствие по умолчанию:" %><br>

<%= radio_button "def_ovr", :default_override, 0, :checked => def_ovr[0] %>
<%= f.label "Выкл" %><br>
<%= radio_button "def_ovr", :default_override, 1, :checked => def_ovr[1]  %>
<%= f.label "Всегда играть приветствие для рабочего времени" %><br>
<%= radio_button "def_ovr", :default_override, 2, :checked => def_ovr[2] %>
<%= f.label "Всегда играть приветствие для не рабочего времени" %><br>


<h3>Часы Работы</h3> 
<table border=1>
	<tr>
		<th>День Недели</th>
		<th>Начало</th>
		<th>Конец</th>
	</tr>
	<tr>
		<td>Понедельник</td>
		<td><%= f.time_select :mon_start1, { :default => @ct.mon_start1, :include_seconds => false } %></td>
		<td><%= f.time_select :mon_stop1, { :default => @ct.mon_stop1, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Вторник</td>
		<td><%= f.time_select :tues_start1, { :default => @ct.tues_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :tues_stop1, { :default => @ct.tues_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Среда</td>
		<td><%= f.time_select :wed_start1, { :default => @ct.wed_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :wed_stop1, { :default => @ct.wed_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Четверг</td>
		<td><%= f.time_select :thu_start1, { :default => @ct.thu_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :thu_stop1, { :default => @ct.thu_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Пятница</td>
		<td><%= f.time_select :fri_start1, { :default => @ct.fri_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :fri_stop1, { :default => @ct.fri_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Суббота</td>
		<td><%= f.time_select :sat_start1, { :default => @ct.sat_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :sat_stop1, { :default => @ct.sat_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
	<tr>
		<td>Воскресенье</td>
		<td><%= f.time_select :sun_start1, { :default => @ct.sun_start1, :minute_interval => 5, :include_seconds => false } %></td>
		<td><%= f.time_select :sun_stop1, { :default => @ct.sun_stop1, :minute_interval => 5, :include_seconds => false } %></td>
	</tr>
</table>
<%= f.submit "Сохранить" %>
<% end %>				
