<h2>Приветствия для номера <%=@ct.phone_number.number%></h2>
<%= form_for([:account,:phone_number, @ct]) do |f| %>
<%= f.label "Приветствие для рабочего времени:" %><br>
<%= f.file_field :greating_whrs %><br>
<%= f.label "Приветствие для не рабочего времени:" %><br>
<%= f.file_field :greating_afthrs %><br>
<%= f.label "Приветствие по умолчанию:" %><br>

<%= f.radio_button :default_override, false %>
<%= f.label "Выкл" %><br>
<%= f.radio_button :default_override, true  %>
<%= f.label "Всегда играть приветствие для рабочего времени" %><br>
<%= f.radio_button :default_override, true %>
<%= f.label "Всегда играть приветствие для не рабочего времени" %><br>


<h3>Часы Работы</h3> 
<table border=1>
	<tr>
		<th>День Недели</th>
		<th>Начало</th>
		<th>Конец</th>
	</tr>
	<tr>
		<td>Понедельник</td>
		<td><%= f.text_field :mon_start1 %></td>
		<td><%= f.text_field :mon_stop1 %></td>
	</tr>
	<tr>
		<td>Вторник</td>
		<td><%= f.text_field :tues_start1 %></td>
		<td><%= f.text_field :tues_stop1 %></td>
	</tr>
	<tr>
		<td>Среда</td>
		<td><%= f.text_field :wed_start1 %></td>
		<td><%= f.text_field :wed_stop1 %></td>
	</tr>
	<tr>
		<td>Четверг</td>
		<td><%= f.text_field :thu_start1 %></td>
		<td><%= f.text_field :thu_stop1 %></td>
	</tr>
	<tr>
		<td>Пятница</td>
		<td><%= f.text_field :fri_start1 %></td>
		<td><%= f.text_field :fri_stop1 %></td>
	</tr>
	<tr>
		<td>Суббота</td>
		<td><%= f.text_field :sat_start1 %></td>
		<td><%= f.text_field :sat_stop1 %></td>
	</tr>
	<tr>
		<td>Воскресенье</td>
		<td><%= f.text_field :sun_start1 %></td>
		<td><%= f.text_field :sun_stop1 %></td>
	</tr>
</table>
<%= f.submit "Сохранить" %>
<% end %>				
