<h2>Настройки голосового меню для номера <%=@cm.phone_number.number%></h2>
<%= form_for([:account,:phone_number, @cm]) do |f| %>
<%= f.label "Файл голосового меню" %><br>
<%= f.file_field :menu_message %><br>
<%= f.label "Группа для первого пункта меню:" %>
<%= f.select :menu_key1, options_from_collection_for_select(@groups, "id" , "group_name", @cm.menu_key1)%><br>
<%= f.label "Группа для второго пункта меню:" %>
<%= f.select :menu_key2, options_from_collection_for_select(@groups, "id", "group_name", @cm.menu_key2)%><br>
<%= f.label "Группа для третьего пункта меню:" %>
<%= f.select :menu_key3, options_from_collection_for_select(@groups, "id", "group_name", @cm.menu_key3)%><br>
<%= f.submit "Сохранить" %>
<% end %>